div.jumbotron
  div.main-title
    h1
      | Librarium
    h2
      | {{ 'SLOGAN' | translate }}
div.row
  div.col-sm-6.col-md-3(ng-repeat="book in blistCtrl.books")
    div.book-item
      img.center-block(ng-src="{{ book.cover }}")
      div.caption.text-center
        p
          | {{ 'BOOK_TITLE' | translate }}: {{ book.title }}
        p
          | {{ 'BOOK_AUTHOR' | translate }}: {{ book.author }}
        div(star-rating rating-value="blistCtrl.calculateStars(book.avg_score)")
div.text-center
  ul.pagination
    li
      a(ng-click="blistCtrl.booksPage(1)")
        | 1
    li
      a(ng-click="blistCtrl.booksPage(2)")
        | 2

