div.container
  p
    | {{ uShowCtrl.user.name }}
  p
    | {{ uShowCtrl.user.email }}
  p
    | {{ uShowCtrl.user.created_at }}

h4.home-title
  | Here you will find the profile page of the user with id: {{ uShowCtrl.profileId }}
